node_modules
dist
.env
evoting.db
evoting.db-journal
.git
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.prettierrc
eslint.config.mjs
README.md
nest-cli.json
tsconfig.build.json
test/
 coverage/
 
